<div class="container-fuld">
    <div class="content">
        <div class="session_top">
            <div class="container">
                <div class="row top" id="ground">
                    <div class="col top" id="ground-top">
                        <h2>Hi, I am <span>Duc Tuan</span>, <br>
                            <span>Creative Technologist</span>
                        </h2>
                        <p class="thong_tin">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        <button class="btn">Download Resume</button>
                    </div>
                    <div class="col top" id="ground-bottom">
                        <a href=""><img class="image" src="https://i.picsum.photos/id/1027/2848/4272.jpg?hmac=EAR-f6uEqI1iZJjB6-NzoZTnmaX0oI0th3z8Y78UpKM" alt="" width="243px"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="session beetwen">
            <div class="container">
                <div class="row beetwen">
                    <div>
                        <a href="">
                            <h4>Recent posts</h4>
                        </a>
                    </div>
                    <div class="view">
                        <a href="">
                            <p>View all</p>
                        </a>
                    </div>
                </div>
                <div class="row beetwen">
                    <div class="col beetwen">
                        <strong>Making a design system from scratch</strong>
                        <p><span>12 Feb 2020</span> | <span>Design, Pattern</span></p>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                    <div class="col beetwen">
                        <strong>Creating pixel perfect icons in Figma</strong>
                        <p><span>12 Feb 2020</span> | <span>Design, Pattern</span></p>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="session">
            <div class="container">
                <h4 class="cate">Featured works</h4>
                <div class="row-bottom">
                    <div><img src="https://www.w3schools.com/howto/img_forest.jpg" alt="" width="246" height="180"></div>
                    <div class="row-rigth">
                        <h3 style="font-size: 30px;">Designing Dashboards</h3>
                        <p><span style="margin-right:10px;">2020</span> <span>Dashboard</span></p>
                        <p style="font-size: 16px;">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <div class="row-bottom">
                    <div><img src="https://media-cdn.tripadvisor.com/media/photo-s/15/a4/9b/77/legacy-hotel-at-img-academy.jpg" alt="" width="246" height="180"></div>
                    <div class="row-rigth">
                        <h3 style="font-size: 30px;">Vibrant Portraits of 2020</h3>
                        <p><span style="margin-right:10px;">2018</span> <span>Illustration</span></p>
                        <p style="font-size: 16px;">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <div class="row-bottom">
                    <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBMqSaJ-TPUDQHH42cwlJmextlIt8Q_F3Ug_TDvq_nPsW8Uevry3ZgQ_JH6tBL-_H-frM&usqp=CAU" alt="" width="246" height="180"></div>
                    <div class="row-rigth">
                        <h3 style="font-size: 30px;">36 Days of Malayalam type</h3>
                        <p><span style="margin-right:10px;">2020</span> <span>Typography</span></p>
                        <p style="font-size: 16px;">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
