.content {
    margin: auto;
}

.container {
    width: 980px;
}

.row.top {
    display: grid;
    grid-template-columns: auto 300px;
    padding: 170px 0px 0px 0px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.btn {
    background: rgb(208, 4, 4);
    color: aliceblue;
    width: 208px;
    height: 47px;
    font-size: 20px;
}

h2 {
    font-size: 44px;
}

.thong_tin {
    margin: 35px 0px 0px 0px;
}

p {
    font-size: 16px;
    padding: 10px;
}

.image {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.session {
    padding: 10px 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

strong {
    font-size: 26px;
}

p span {
    font-size: 18px;
}

.row-bottom {
    display: grid;
    grid-template-columns: 246px auto;
    padding: 30px 0px;
}

.row-rigth {
    margin-left: 20px;
}

h4 {
    font-size: 22px;
    color: black;
}

.btn {
    margin: 30px 0px 0px 0px;
    margin-bottom: 65px;
}

.session.beetwen {
    background: #EDF7FA;
}

.col.beetwen {
    background-color: #fcfcfc;
    margin: 0px 10px;
    padding: 20px;
}

.row.beetwen {
    margin: 4px 0px;
}

.cate {
    padding: 50px 0px;
}

.view {
    text-align: end;
}

@media (max-width: 767.98px) {
    .col.top.image {}
    h2 {
        font-size: 32px;
    }
    .thong_tin {
        font-size: 16px;
        margin: auto;
    }
    #ground {
        display: flex;
        flex-direction: column;
    }
    #ground #ground-top {
        order: 2;
    }
    #ground #ground-bottom {
        order: 1;
    }
    .row.top {
        text-align: center;
    }
    .row.beetwen {
        display: flex;
        flex-direction: column;
    }
    .strong {
        font-size: 22px;
    }
    p {
        font-size: 16px
    }
    ;
    .col.beetwen {
        max-width: 87%;
    }
}
