<div class="content">
    <div class="container">
        <h2>Designing Dashboards with usability in mind</h2>
        <p><span>2020</span> <span>Dashboard, User Experience Design</span></p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img src="https://www.gannett-cdn.com/presto/2021/08/19/NSHT/9b28cc6f-ccfa-48bb-82f1-db540b220360-RMARKET31_02.jpg" width="986px" alt="">
        <h2>Designing Dashboards with usability in mind</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img src="https://www.gannett-cdn.com/presto/2021/08/19/NSHT/9b28cc6f-ccfa-48bb-82f1-db540b220360-RMARKET31_02.jpg" alt="" width="986px">
        <img src="https://www.gannett-cdn.com/presto/2021/08/19/NSHT/9b28cc6f-ccfa-48bb-82f1-db540b220360-RMARKET31_02.jpg" width="986px" alt="">
    </div>
</div>
