<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-left">
                <a href=""><img src="https://media-cdn.tripadvisor.com/media/photo-s/15/a4/9b/77/legacy-hotel-at-img-academy.jpg" alt="" width="246px" height="180px"></a>
            </div>
            <div class="col-right">
                <h2>Designing Dashboards</h2>
                <p><span>2020</span> <span>Dashboard</span></p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-left">
                <a href=""><img src="https://media-cdn.tripadvisor.com/media/photo-s/15/a4/9b/77/legacy-hotel-at-img-academy.jpg" alt="" width="246px" height="180px"></a>
            </div>
            <div class="col-right">
                <h2>Designing Dashboards</h2>
                <p><span>2020</span> <span>Dashboard</span></p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-left">
                <a href=""><img src="https://media-cdn.tripadvisor.com/media/photo-s/15/a4/9b/77/legacy-hotel-at-img-academy.jpg" alt="" width="246px" height="180px"></a>
            </div>
            <div class="col-right">
                <h2>Designing Dashboards</h2>
                <p><span>2020</span> <span>Dashboard</span></p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-left">
                <a href=""><img src="https://media-cdn.tripadvisor.com/media/photo-s/15/a4/9b/77/legacy-hotel-at-img-academy.jpg" alt="" width="246px" height="180px"></a>
            </div>
            <div class="col-right">
                <h2>Designing Dashboards</h2>
                <p><span>2020</span> <span>Dashboard</span></p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr>
    </div>
</div>
